---
pagination:
  data: episodes.published
  size: 1
  alias: ep
permalink: /episodes/{{ ep.slug }}/
eleventyComputed:
  title: "{{ ep.question }}"
  question: "{{ ep.question }}"
  slug: "{{ ep.slug }}"
  scripture: "{{ ep.scripture }}"
  category: "{{ ep.category }}"
  teachers: "{{ ep.teachers }}"
  notebook_url: "{{ ep.notebook_url }}"
  audio_url: "{{ ep.audio_url }}"
  status: "{{ ep.status }}"
layout: episode.njk
---
